transformers
accelerate==0.21.0
bitsandbytes==0.40.2
datasets==2.13.1
hydra-core
pynvml
sentencepiece
einops
sentence-transformers
llama-index-core
llama-index-llms-replicate
llama-index-embeddings-huggingface
llama-index-vector-stores-elasticsearch
llama-index-vector-stores-milvus
llama-index-finetuning
elasticsearch
pymilvus
langchain
pandas